/* General Class */
.bg-grey {
    background:#f2f2f2;
}

/** end general class */


/* component class */
.dashboard-body{
    margin-top:56px;
    margin-bottom: 56px;
}

.box-content {
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    background: #fff;
    margin-bottom: 18px !important;
}

.sidebar{
    border: none;
    padding-left: 0.75rem;
}

.column.right-padded {
    padding-right: 1.75rem;
}

.column.left-padded {
    padding-left: 1.75rem;
}

.box-title {
    margin-bottom: 10px;
}

.box.comment {
    margin-bottom: 3px;
}


/* end component class */

/* hack default style */
.columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.columns:last-child , .columns:not(:last-child){
    margin-bottom: auto ;
}

.subtitle {
    font-size: inherit;
}

.media-left {
    margin-top: 6px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subtitle {
    font-weight: normal !important;
}

.media .media {
    border-top:inherit;
}

/* end hack default style */

/* bulma extension */
.is-divider, .is-divider-vertical {
    display: block;
    position: relative;
    border-top: .1rem solid #dbdbdb;
    height: .1rem;
    margin: 0.5rem 0;
    text-align: center;
}

.is-divider[data-content]::after, .is-divider-vertical[data-content]::after {
    background: #fff;
    color: #b5b5b5;
    content: attr(data-content);
    display: inline-block;
    font-size: .75rem;
    padding: .4rem .8rem;
    -webkit-transform: translateY(-1.1rem);
    -ms-transform: translateY(-1.1rem);
    transform: translateY(-1.1rem);
    text-align: center;
}
/* end bulma extension */

/*a{
    color: #fff;
}*/
.carousel{
    max-width: 500px;
    display: inline;
}
.social-media-area{
    margin-left: 44%;
    margin-bottom: -28px;
}
.fab .fa-instagram{
    color: #fff;
}
.fab .fa-google-plus-g{
    color: #fff;
}
.fab .fa-linkedin-in{
    margin-right: 20px;
}

.fab .fa-facebook-f {
    margin-right: 20px;
}

.input{
    border-radius: 0;
}

#envelope-icon{
    color: #000;
}

#input-subscribe{
    height: 32px;
}

.subsrcribe-area{
    padding-bottom: 17px;
}

.subscribe-text{
font-size: 20px;
color: #fff;
font-weight: bold;

}
.sub-label{
    float: left;
}
.subsrcribe-area{
    margin-left: 38%;
margin-top: 3%;
}
.desc-footer1{
    margin-left: -130px;
}
.table-footer{
    margin-top: 50px;
    margin-left:8%;


}
.desc-footer{
    word-spacing: 200px;
    margin-bottom: 100px;
    margin-top: 50px;
}


footer{
    background-color: #212020;
}

 #icon-image{
    position: absolute;
    bottom: 0px;
    left: 65px;
    color: black;
    background-color: gray;
}
.sidebar2{
    margin-top: 50px;
    width: 372px;
margin-left: 12px;
}

#follow-sidebar-button{
    border-radius: 0;
    margin-left: 167px;
}
.sidebar-image{
    padding-left: 10px;
    padding-bottom: 10px;
}

#sidebar-content{
    max-width: 180px;
    font-size: 14px;
}

button{
    border-color: #000;
    border-radius: 0;
    background-color: #000;
}
p{
    color: #000;
    margin-bottom: 10px;
}


#profile-name{
    padding-top: 5%;
}


.address{
    margin-bottom: 10px;
}

.opening-hours{
    font-weight: bold;
    padding-left: 5.6%;
    word-spacing: 3px;
    margin-bottom: 10px;
}
.service{
    padding-bottom: 70px;
}

.review-title{
    font-size: 21px;
    color: #000;
     
}

.textarea:not([rows]){
    max-height: 600px;
    min-height: 48px;
}

.button .is-info{
    border-radius: 0;
    background-color: #000;
    border-color: #000;
}

.media{
border:none;
}

.image .is-64x64 {
padding-top: 51px;
}

.lSSlideOuter {
    margin-top:10px;
}
.padding-right-slider {
    /*padding-right: 40px !important;*/
}
.no-margin-slider li {
    margin-right: 0 !important;
}

.lSAction>a {
    background: none;
    text-align: center;
    padding-top: 4px;
    opacity: 1;
}

.lSAction>.lSPrev {
    color: #fff;
    background: black;
    right:0px !important;
    left: inherit;
    margin-top:-3px;

}
.lSAction>.lSNext {
    color: #666;
    background: white;
    right:0px !important;
    left: inherit;
    margin-top:-35px;

}